<?js
let conf = env.conf;
let isGlobalPage;
docs.forEach((doc, i) => {
  isGlobalPage = isGlobalPage || doc.kind === "globalObj";


  if (doc.kind === "mainpage" || doc.kind === "package") { ?>
    <?js= this.partial("mainpage.tmpl", doc) ?>
  <?js } else if (doc.kind === "source") { ?>
    <?js= this.partial("source.tmpl", doc) ?>
  <?js } else { ?>
    <section>
      <article>
        <div class="container-overview">
          TODO
        </div>
      </article>
    </section>
  <?js
  }
});
?>
