<ul class="examples">
  <?js obj.forEach((example) => { ?>
    <li>
      <div class="container">
      <?js if (example.caption) { ?>
        <h6 class="code-caption">
          <?js= example.caption ?>
        </h6>
      <?js } ?>
        <pre class="prettyprint">
          <code class="language-js"><?js= this.htmlsafe(example.code) ?></code>
        </pre>
      </div>
    </li>
  <?js }); ?>
</ul>
