<?js

let signature = obj.signature
  .replace(/\(nullable\)/g, `<span class="nullable-signature">nullable</span>`)
  .replace(/(?:\.\.\.|\u2026|&hellip;)([\w_\d]+)/g, `<span class="rest-signature">&hellip;$1</span>`);

if (obj.kind !== "module") {
  if (obj.kind === "class") { ?>
    <h3 class="padding-left">Constructor</h3>
  <?js } ?>

  <h4 class="light padding-left" id="<?js= id ?>">
    <?js= obj.attribs + (obj.kind === "class" ? "new " : "") + name + (signature || "") ?>
  </h4>

  <?js if (obj.kind === "class" && obj.classdesc) { ?>
    <div class="description margin-bottom container">
      <?js= obj.classdesc ?>
    </div>
  <?js } ?>

  <?js if (obj.description) { ?>
    <div class="description margin-bottom container">
      <?js= obj.description ?>
    </div>
  <?js } ?>

  <?js if (obj.summary) { ?>
    <p class="summary container">
      <?js= summary ?>
    </p>
  <?js } ?>
<?js } ?>

<?js if (obj.augments && obj.alias && !obj.alias.indexOf("module")) { ?>
  <h5 class="container">Extends:</h5>
  <?js= this.partial("augments.tmpl", obj) ?>
<?js } ?>

<?js if (obj.this) { ?>
  <h5 class="container">This: <?= this.linkto(obj.this, obj.this) ?></h5>
<?js } ?>

<?js if (obj.params && obj.params.length || obj.returns) { ?>
  <div class="params-returns container">
    <div class="params">
      <!-- <h5 class="center white-text text-darken-2">Arguments</h5> -->
      <?js if (obj.params && obj.params.length) { ?>
        <?js= this.partial("params.tmpl", obj.params) ?>
      <?js } else { ?>
        <h5 class="center second-color italic light">No arguments</h5>
      <?js } ?>
    </div>
    <div class="arrow">
      <i class="material-icons">arrow_forward</i>
    </div>
    <div class="returns">
      <?js if (obj.returns) { ?>
        <?js= this.partial("returns.tmpl", obj.returns) ?>
      <?js } else { ?>
        <h5 class="centere second-color italic light">No value returned</h5>
      <?js } ?>
    </div>
  </div>
<?js } ?>

<?js= this.partial("details.tmpl", obj) ?>

<?js if (obj.kind !== "module" && obj.requires && obj.requires.length) { ?>
  <h5>Requires:</h5>
  <?js= this.partial("linklist.tmpl", obj.requires) ?>
<?js } ?>

<?js if (obj.fires && obj.fires.length) { ?>
  <h5>Fires:</h5>
  <?js= this.partial("linklist.tmpl", obj.fires) ?>
<?js } ?>

<?js if (obj.listeners && obj.listeners.length) { ?>
  <h5>Listeners:</h5>
  <?js= this.partial("linklist.tmpl", obj.listeners) ?>
<?js } ?>

<?js if (obj.exceptions && obj.exceptions.length) { ?>
  <h5>Throws:</h5>
  <?js if (obj.exceptions.length > 1) { ?>
    <ul>
      <?js obj.exceptions.forEach((e) => { ?>
        <li>
          <?js= this.partial("exception.tmpl", e) ?>
        </li>
      <?js }); ?>
    </ul>
  <?js } else { ?>
    <?js= this.partial("exception.tmpl", obj.exceptions[0]) ?>
  <?js } ?>
<?js } ?>

<?js if (obj.examples && obj.examples.length) { ?>
  <div class="example-container">
    <h5 class="padding-left" id="<?js= obj.name ?>-examples">Example<?js examples.length > 1 ? "s" : "" ?></h5>
    <?js= this.partial("examples.tmpl", examples) ?>
  </div>
<?js } ?>
